<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><mat-icon>local_see</mat-icon> Cinema World</span>

        <div class="space"></div>
    <a mat-button routerLink="home"><mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon> </a>
    <a mat-button routerLink="search">Filme</a>
    <a mat-button routerLink="sali">Sali</a>
    <a mat-button routerLink="about">Despre</a>
    <a mat-button routerLink="login"><mat-icon aria-hidden="false" aria-label="account_circle" fontIcon="account_circle"></mat-icon> </a>
  </mat-toolbar>